@font-face {
  font-family: "Gilroy-Black";
  font-display: swap;
  src: url("../fonts/gilroy-black.woff2") format("woff2"), url("../fonts/gilroy-black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

ul,
li,
button {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: 0;
  background-color: inherit;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #000;
  color: #91919d;
  font-size: 16px;
  line-height: 26px;
}

.title {
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.svg-fb-dims {
  width: 24px;
  height: 24px;
}

.svg-linkedin-dims {
  width: 24px;
  height: 24px;
}

.svg-medium-dims {
  width: 24px;
  height: 24px;
}

.svg-reddit-dims {
  width: 24px;
  height: 24px;
}

.svg-telegram-dims {
  width: 24px;
  height: 24px;
}

.svg-twitter-dims {
  width: 24px;
  height: 24px;
}

.svg-youtube-dims {
  width: 24px;
  height: 24px;
}

.header {
  background-color: #151516;
  font-weight: 400;
}

.header__inner {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__language {
  margin-right: 48px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.header__login {
  border-radius: 8px;
  font-size: 12px;
  padding: 12px 18px;
  line-height: 18px;
  background-color: #f2d080;
  color: #07070b;
}

.content {
  margin-top: 104px;
  background-color: #000;
}

.content__inner {
  display: flex;
  justify-content: space-between;
}

.content-left {
  max-width: 553px;
}

.content__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  font-size: 50px;
  line-height: 54px;
  margin-bottom: 32px;
}

.content__subtitle {
  font-size: 16px;
  line-height: 26px;
  color: #91919d;
  margin-bottom: 40px;
}

.content__btn {
  margin-bottom: 160px;
  display: flex;
}

.content .btn {
  padding: 22px 38px;
  background: #f2d080;
  border-radius: 12px;
  color: #07070b;
}

.content-right {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.content-img {
  position: absolute;
}

.content-img--comp {
  top: 15px;
  left: 0;
}

.content-img--phone {
  top: 45px;
  left: 542px;
}

.statistick {
  background-color: #151516;
}

.statistick__wrapper {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.statistick__item {
  text-align: center;
}

.statistick__item-number {
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  font-size: 64px;
  line-height: 72px;
}

.statistick__item-text {
  font-size: 16px;
  line-height: 26px;
}

.crypt {
  padding-top: 90px;
  padding-bottom: 42px;
  background-color: #fff;
}

.crypt__title {
  color: #07070b;
  text-align: center;
  margin-bottom: 24px;
}

.crypt__subtitle {
  color: #91919d;
  text-align: center;
  margin-bottom: 64px;
}

.crypt__inner {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.crypt .slick-list {
  overflow: hidden;
  padding: 22px 60px !important;
}

.crypt__inner--two {
  display: flex;
  min-width: 0;
}

.crypt__inner--two .slick-track {
  margin-left: 100px;
}

.crypt__item {
  box-shadow: 0px 0px 17px rgba(17, 25, 48, 0.06), 0px 29px 20px -18px rgba(29, 34, 48, 0.06);
  border-radius: 32px;
  margin: 0 32px;
  padding: 48px;
  max-width: 288px;
  width: 100%;
  display: flex !important;
  align-items: center;
}

.crypt__item-text {
  font-family: "Gilroy-Semibold", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #07070b;
  font-size: 30px;
  line-height: 36px;
}

.crypt__item-image {
  padding-right: 20px;
}

.card {
  background-color: #fff;
}

.card__title {
  text-align: center;
  color: #07070b;
  margin-bottom: 64px;
}

.card__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 128px;
}

.card__item {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 32px;
  width: 378px;
  height: 274px;
  background-color: #f6f7fa;
  padding: 32px;
}

.card__item + .card__item {
  margin-left: 32px;
}

.card__item:nth-child(3n+1) {
  margin-left: 0;
}

.card__item img {
  margin-top: 18px;
  width: 100%;
  height: 104px;
  max-width: 104px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__item .card__item-text {
  margin-top: 45px;
  text-align: center;
  color: #151516;
}

.instruments__title {
  margin-top: 56px;
  margin-bottom: 24px;
  text-align: center;
  color: #fff;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
}

.instruments__subtitle {
  text-align: center;
  color: #91919d;
  margin-bottom: 102px;
}

.instruments__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.instruments__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 350px;
  z-index: -1;
}

.instruments__item-text {
  max-width: 310px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 36px;
}

.instruments__item-img {
  -webkit-mask-image: linear-gradient(to bottom, black, black, black, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to bottom, black, black, black, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.instruments__btn {
  text-align: center;
  margin-top: -160px;
  padding-bottom: 72px;
}

.instruments__btn .btn {
  padding: 22px 38px;
  background: #f2d080;
  border-radius: 12px;
  color: #07070b;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
}

.feedback {
  background-color: #f6f7fa;
  padding-bottom: 64px;
}

.feedback__title {
  margin-bottom: 40px;
  padding-top: 72px;
  text-align: center;
  color: #07070b;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
}

.feedback__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.feedback__inner--two .slick-track {
  margin-left: 100px;
}

.feedback__item {
  padding: 15px;
  width: 360px;
  height: 275px;
  background-color: #fff;
  border-radius: 16px;
}

.feedback__item + .feedback__item {
  margin-left: 30px;
}

.feedback__item-raiting .jq-ry-container {
  padding: 0;
}

.feedback__item-date {
  padding-top: 14px;
}

.feedback__item-user {
  padding-top: 19px;
  color: #232425;
  line-height: 21px;
}

.feedback__item-comment {
  font-size: 16px;
  line-height: 26px;
}

.start {
  background-color: #151516;
}

.start__title {
  padding-top: 72px;
  margin-bottom: 40px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.start__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.start__item {
  max-width: 195px;
}

.start__item .item-img {
  margin-bottom: 34px;
}

.start__item .item-text {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.start__btn {
  padding: 22px 38px;
  background: #f2d080;
  border-radius: 12px;
  color: #07070b;
}

.start .btn {
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
  padding-bottom: 56px;
  font-size: 14px;
  line-height: 21px;
}

.start .img-pixel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start .pixel {
  margin-top: -70px;
}

.footer {
  background-color: #000;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 32px;
}

.social__item {
  text-align: center;
  display: flex;
}

.social__item:not(.social__item:last-child) {
  padding-right: 32px;
}

.social__item-text {
  font-size: 14px;
  line-height: 26px;
  padding-left: 16px;
  color: #91919d;
}

.copyright {
  padding: 32px 0 40px;
  border-top: 1px solid #282b31;
}

@media (max-width: 1475px) {
  .content-img--phone {
    display: none;
  }

  .content-img--comp {
    max-width: 100%;
  }
}

@media (max-width: 1190px) {
  .content {
    margin-top: 58px;
  }

  .content__title {
    font-size: 42px;
    line-height: 46px;
  }

  .card__inner {
    padding-bottom: 0;
    justify-content: center;
  }

  .card__item:nth-child(3n+1) {
    padding: 16px;
    margin-left: 32px;
  }

  .instruments__btn {
    margin-top: 0;
    padding-bottom: 56px;
  }
}

@media (max-width: 990px) {
  .content__title {
    font-size: 32px;
    line-height: 36px;
  }

  .statistick__wrapper {
    height: 200px;
  }

  .statistick__item-number {
    font-size: 56px;
    line-height: 60px;
  }

  .crypt__item {
    margin: 0 16px;
  }

  .instruments__title {
    font-size: 32px;
    line-height: 46px;
  }

  .instruments__subtitle {
    margin-bottom: 40px;
  }

  .instruments__btn {
    margin-top: -90px;
    z-index: 0;
  }

  .instruments__item-text {
    font-size: 20px;
    line-height: 28px;
  }

  .instruments .slick-slide img {
    margin: 0 auto;
    width: 216px;
    height: 436px;
  }

  .instruments .slick-dots {
    z-index: 0;
    margin: 0 auto;
    margin-bottom: 32px;
    margin-top: -130px;
  }

  .instruments .slick-dots li {
    display: inline-block;
    padding-right: 12px;
  }

  .instruments .slick-dots li + .instruments .slick-dots li {
    margin-right: 12px;
  }

  .instruments .slick-dots button {
    padding: 0;
    margin: 0;
    font-size: 0;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
  }

  .instruments .slick-dots .slick-active button {
    background-color: #fff;
  }

  .start__title {
    font-size: 32px;
    line-height: 46px;
  }

  .start__item:not(.start__item:last-child) {
    margin-bottom: 80px;
  }

  .start .img-pixel {
    display: none;
  }
}

@media (max-width: 768px) {
  .statistick {
    padding: 64px 0 0;
  }

  .statistick__wrapper {
    flex-direction: column;
    height: auto;
  }

  .statistick__item {
    height: 160px;
  }

  .content-right {
    display: none;
  }

  .content__btn {
    margin-bottom: 60px;
  }

  .crypt {
    padding-top: 56px;
  }

  .crypt__title {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 18px;
  }

  .crypt__subtitle {
    margin-bottom: 40px;
  }

  .crypt .slick-list {
    padding: 11px 60px !important;
  }

  .crypt__item {
    width: 183px !important;
    height: 96px !important;
    margin: 0 6px;
  }

  .crypt__item img {
    width: 40px;
    height: 40px;
  }

  .crypt__item-text {
    font-size: 20px;
    line-height: 24px;
  }

  .card__title {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 32px;
  }

  .card__item {
    margin-left: 0;
    margin-bottom: 16px;
  }

  .card__item:last-child {
    margin-bottom: 32px;
  }

  .card__item:nth-child(3n+1) {
    margin-left: 0;
  }

  .card__item + .card__item {
    margin-left: 0;
  }

  .feedback__title {
    padding-top: 56px;
    font-size: 32px;
    line-height: 46px;
  }

  .start__btn {
    display: none;
  }
}

@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}

@media (max-width: 472px) {
  .content .btn {
    width: 100%;
  }

  .start__inner {
    flex-direction: column;
    align-items: center;
  }

  .social {
    justify-content: space-around;
  }

  .social__item:not(.social__item:last-child) {
    padding-right: 25px;
  }

  .social__item-text {
    display: none;
  }

  .copyright {
    font-size: 14px;
    line-height: 21px;
  }
}