$gray: #151516;
$title: #07070b;
$subtitle: #91919d;
$black: #313438;
$wg: #f6f7fa;
$btn: #07070b;

@mixin gilroy-bold {
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin btn {
  padding: 22px 38px;
  background: #f2d080;
  border-radius: 12px;
  color: #07070b;
}
