@media (max-width: 1475px) {
  .content {
    &-img--phone {
      display: none;
    }
    &-img--comp {
      max-width: 100%;
    }
  }
}

@media (max-width: 1190px) {
  .content {
    &__title {
      font-size: 42px;
      line-height: 46px;
    }
  }
}
@media (max-width: 990px) {
  .content {
    &__title {
      font-size: 32px;
      line-height: 36px;
    }
  }
  .statistick {
    &__item {
      &-number {
        font-size: 56px;
        line-height: 60px;
      }
    }
  }
}
@media (max-width: 768px) {
  .content {
    &-right {
      display: none;
    }
    &__btn {
      margin-bottom: 60px;
      justify-content: space-around;
    }
  }
}
@media (max-width: 576px) {
  .statistick {
    padding: 64px 0;
    &__wrapper {
      flex-direction: column;
    }
  }
}
@media (max-width: 390px) {
  .content {
    .btn {
      width: 100%;
    }
  }
  .statistick {
    &__wrapper {
      flex-wrap: nowrap;
    }
    &__item {
      padding-bottom: 64px;
    }
  }
}
