.svg-fb-dims {
  width: 24px;
  height: 24px;
}
.svg-linkedin-dims {
  width: 24px;
  height: 24px;
}
.svg-medium-dims {
  width: 24px;
  height: 24px;
}
.svg-reddit-dims {
  width: 24px;
  height: 24px;
}
.svg-telegram-dims {
  width: 24px;
  height: 24px;
}
.svg-twitter-dims {
  width: 24px;
  height: 24px;
}
.svg-youtube-dims {
  width: 24px;
  height: 24px;
}
