@import "fonts";
@import "vars";
@import "global";
@import "social";

.header {
  background-color: #151516;
  font-weight: 400;
  margin-bottom: 104px;

  &__inner {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__language {
    margin-right: 48px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
  }

  &__login {
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 18px;
    line-height: 18px;
    background-color: #f2d080;
    color: $btn;
  }
}

// end header

// start content
.content {
  background-color: #000;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    max-width: 553px;
  }

  &__title {
    @include gilroy-bold;
    color: #fff;
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 32px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 26px;
    color: $subtitle;
    margin-bottom: 40px;
  }

  &__btn {
    margin-bottom: 160px;
    display: flex;
  }
  .btn {
    @include btn;
  }

  &-right {
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  &-img {
    position: absolute;

    &--comp {
      top: 15px;
      left: 0;
    }

    &--phone {
      top: 45px;
      left: 542px;
    }
  }
}

// end content

// start statistick
.statistick {
  background-color: #151516;

  &__wrapper {
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    text-align: center;

    &-number {
      @include gilroy-bold;
      color: #fff;
      font-size: 64px;
      line-height: 72px;
    }

    &-text {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
// end statistick

// start crypt
.crypt {
  padding-top: 90px;
  padding-bottom: 42px;
  background-color: #fff;

  &__title {
    color: $title;
    text-align: center;
    margin-bottom: 24px;
  }

  &__subtitle {
    color: $subtitle;
    text-align: center;
    margin-bottom: 64px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    min-width: 0;
  }

  .slick-list {
    overflow: hidden;
    padding: 22px 60px !important;
  }

  //   .slick-track {
  //     display: flex;
  //   }

  &__inner--two {
    display: flex;
    min-width: 0;
    .slick-track {
      margin-left: 100px;
    }
  }

  &__item {
    box-shadow: 0px 0px 17px rgba(17, 25, 48, 0.06),
      0px 29px 20px -18px rgba(29, 34, 48, 0.06);
    border-radius: 32px;
    margin: 0 32px;
    padding: 48px;
    max-width: 288px;
    width: 100%;
    display: flex !important;
    align-items: center;

    &-image {
      padding-right: 20px;
    }
  }
}
// end crypt

// start card
.card {
  background-color: #fff;
}

.card__title {
  text-align: center;
  color: $title;
  margin-bottom: 64px;
}

.card__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card__item {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  margin-bottom: 32px;
  width: 378px;
  height: 274px;
  background-color: $wg;
  padding: 32px;

  & + & {
    margin-left: 32px;
  }

  &:nth-child(3n + 1) {
    margin-left: 0;
  }

  img {
    margin-top: 18px;
    width: 100%;
    height: 104px;
    max-width: 104px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card__item-text {
    margin-top: 45px;
    text-align: center;
    color: $gray;
  }
}

// end card

// start instruments
.instruments {
  &__title {
    margin-top: 56px;
    margin-bottom: 24px;
    text-align: center;
    color: #fff;
    @include gilroy-bold;
    font-size: 42px;
    line-height: 46px;
  }

  &__subtitle {
    text-align: center;
    color: $subtitle;
    margin-bottom: 102px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 350px;
    z-index: -1;
  }

  &__item-text {
    max-width: 310px;
    @include gilroy-bold;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 36px;
  }

  &__item-img {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    );
  }

  &__btn {
    text-align: center;
    margin-top: -160px;
    padding-bottom: 72px;

    & .btn {
      @include btn;
      margin: 0 auto;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
// end instruments

// start feedback

.feedback {
  background-color: $wg;
  padding-bottom: 64px;

  // .feedback__title

  &__title {
    margin-bottom: 40px;
    padding-top: 72px;
    text-align: center;
    color: $btn;
    @include gilroy-bold;
    font-size: 42px;
    line-height: 46px;
  }

  // .feedback__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &--two {
      .slick-track {
        margin-left: 100px;
      }
    }
  }

  // .feedback__item

  &__item {
    padding: 15px;
    width: 360px;
    height: 275px;
    background-color: #fff;
    border-radius: 16px;
    & + & {
      margin-left: 30px;
    }
  }

  // .feedback__item-raiting

  &__item-raiting {
    .jq-ry-container {
      padding: 0;
    }
  }

  // .feedback__item-date

  &__item-date {
    padding-top: 14px;
  }

  // .feedback__item-user

  &__item-user {
    padding-top: 19px;
    color: #232425;
    line-height: 21px;
  }

  // .feedback__item-comment

  &__item-comment {
    font-size: 16px;
    line-height: 26px;
  }
}

// end feedback

// start start

.start {
  background-color: #151516;

  // .start__title

  &__title {
    padding-top: 72px;
    margin-bottom: 40px;
    @include gilroy-bold;
    text-align: center;
    color: #fff;
  }

  // .start__inner

  &__inner {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  // .start__item

  &__item {
    max-width: 195px;
    .item-img {
      margin-bottom: 34px;
    }
    .item-text {
      color: #fff;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
    }
  }

  &__btn {
    @include btn;
  }
  .btn {
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
    padding-bottom: 56px;
    font-size: 14px;
    line-height: 21px;
  }

  .img-pixel {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pixel {
    margin-top: -70px;
  }
}

// end start

// start footer
.footer {
  background-color: #000;
}
.social {
  // .social__item
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 32px;

  &__item {
    text-align: center;
    padding-right: 32px;
    display: flex;
  }

  // .social__item-text

  &__item-text {
    font-size: 14px;
    line-height: 26px;
    padding-left: 16px;
    color: #91919d;
  }
}
.copyright {
  padding: 32px 0 40px;
  border-top: 1px solid #282b31;
}

// end footer

// Media
@import "media";
